[submodule "Automotive/OBDII_PC_Program_GUI"]
	path = Automotive/OBDII_PC_Program_GUI
	url = https://github.com/amtir/OBDII_PC_Program_GUI
[submodule "Analog_Digital_Converters/MCP3424_ADC_18bits_PGA"]
	path = Analog_Digital_Converters/MCP3424_ADC_18bits_PGA
	url = https://github.com/amtir/MCP3424_ADC_18bits_PGA
[submodule "Weather_Station/NMEA_LCD_DISPLAY"]
	path = Weather_Station/NMEA_LCD_DISPLAY
	url = https://github.com/amtir/NMEA_LCD_DISPLAY
[submodule "Weather_Station/PC_program_NET_DISPLAY_NMEA"]
	path = Weather_Station/PC_program_NET_DISPLAY_NMEA
	url = https://github.com/amtir/PC_program_NET_Display_NMEA
[submodule "Sensors/TOF-Proximity-Sensors"]
	path = Sensors/TOF-Proximity-Sensors
	url = https://github.com/amtir/TOF_Sensors_UART_Cascade
[submodule "Sensors/UltraSonic-Distance-Sensors"]
	path = Sensors/UltraSonic-Distance-Sensors
	url = https://github.com/amtir/Ultrasonic_Distance_Sensors
[submodule "Sensors/Gesture-Recognition-Sensor"]
	path = Sensors/Gesture-Recognition-Sensor
	url = https://github.com/amtir/Multiplexing_Gesture_Recognition_Sensors_I2C
[submodule "Sensors/Liquid-Level-Sensor"]
	path = Sensors/Liquid-Level-Sensor
	url = https://github.com/amtir/Liquid_Level_Detection
[submodule "Sensors/Temperature-DS18B20"]
	path = Sensors/Temperature-DS18B20
	url = https://github.com/amtir/Temperature_DS18B20_Python
[submodule "Sensors/1Wire-iButton"]
	path = Sensors/1Wire-iButton
	url = https://github.com/amtir/1Wire_iButton
[submodule "Sensors/RFID-NFC"]
	path = Sensors/RFID-NFC
	url = https://github.com/amtir/RFID_NFC_NXP_PN512_Python
